<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .header-row {
        font-size: 12px;
        font-weight: bold;
        color: gray;
        padding: 5px 5px;
        border-bottom: 1px solid gray;
      }

      .header-item {
        float: left;
      }

      .row {
        font-size: 11px;
        padding: 3px 5px;
        border-bottom: 0.4px solid gray;
      }

      .row-item {
        float: left;
      }

      .c1 {
        width: 5%;
      }
      .c2 {
        width: 10%;
      }
      .c3 {
        width: 36%;
      }
      .c4 {
        width: 10%;
      }
      .c5 {
        width: 10%;
      }
      .c6 {
        width: 16%;
      }
      .c7 {
        width: 12%;
        text-align: center;
      }

      .due {
        color: red;
      }
      .payed {
        color: green;
      }
      .pb-8 {
        padding-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="report-title-block">
          <div class="report-title">Due Sales Report</div>
          <div class="lab-name"><%= data.labModel['name'] %></div>
        </div>

        <div class="report-criteria">
          <div style="font-size: 10px">
            <div>
              <span style="color: gray">From:</span> <%= data.startDate %>
            </div>
            <div><span style="color: gray">To:</span> <%= data.endDate %></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Invoice -->
    <div>
      <div style="font-size: 10px" class="pb-8">
        <div>
          <span>Total Due Payment:</span> <%=
          data.reportDataTotals['payment']['due'] %>
        </div>
      </div>

      <!-- Header -->
      <div class="header-row">
        <div class="header-item c1">#</div>
        <div class="header-item c2">Lab #</div>
        <div class="header-item c3">Patient Name</div>
        <div class="header-item c4">Age</div>
        <div class="header-item c5">Gender</div>
        <div class="header-item c6">Registration Date</div>
        <div class="header-item c7">Due Payment</div>

        <div style="clear: both"></div>
      </div>

      <div class="data-set">
        <% let dataset = data.reportDataTotals.dataset; %> <% for (let i = 0; i
        < data.reportDataTotals.dataset.length; i++) { %> <% let item =
        data.reportDataTotals.dataset[i]; %> <% let gender_full_form =
        item.gender; %> <% if (item.gender === 'm') { %> <% gender_full_form =
        'Male'; %> <% } else if (item.gender === 'f') { %> <% gender_full_form =
        'Female'; %> <% } %> <% let counter = i + 1; %>
        <div class="row">
          <div class="row-item c1"><%= counter %></div>
          <div class="row-item c2"><%= item.lab_number %></div>
          <div class="row-item c3"><%= item.name %></div>
          <div class="row-item c4"><%= item.age %> <%= item.age_unit %></div>
          <div class="row-item c5"><%= gender_full_form %></div>
          <div class="row-item c6"><%= item.registration_date_formatted %></div>
          <div class="row-item c7"><%= item.due_payment %></div>
          <div style="clear: both"></div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
