<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .header-row {
        font-size: 12px;
        font-weight: bold;
        color: gray;
        padding: 5px 5px;
        border-bottom: 1px solid gray;
      }

      .header-item {
        float: left;
      }

      .row {
        font-size: 11px;
        padding: 3px 5px;
        border-bottom: 0.4px solid gray;
      }

      .row-item {
        float: left;
      }

      .c1 {
        width: 5%;
      }
      .c2 {
        width: 10%;
      }
      .c3 {
        width: 20%;
      }
      .c4 {
        width: 12%;
      }
      .c5 {
        width: 10%;
      }
      .c6 {
        width: 20%;
      }
      .c7 {
        width: 8%;
        text-align: center;
      }
      .c8 {
        text-align: center;
        width: 8%;
      }
      .c9 {
        text-align: center;
        width: 8%;
      }
      .c10 {
        text-align: center;
        width: 8%;
      }

      .due {
        color: red;
      }
      .pb-8 {
        padding-bottom: 8px;
      }
      .width50 {
        width: 25%;
        float: left;
      }
      .warn-fg {
        color: #f44336 !important;
      }
      .amount-size {
        font-size: 20px;
      }
      .decimal {
        font-size: 11px;
      }
      .h7 {
        font-size: 9px;
      }
      .summary {
        text-align: center;
        display: inline-flex;
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="report-title-block">
          <div class="report-title">Sales Report</div>
          <div class="lab-name"><%= data.labModel['name'] %></div>
        </div>

        <div class="report-criteria">
          <div style="font-size: 10px">
            <div>
              <span style="color: gray">From:</span> <%= data.startDate %>
            </div>
            <div><span style="color: gray">To:</span> <%= data.endDate %></div>
          </div>
        </div>

        <div class="summary"></div>
      </div>
    </div>

    <div>
      <div class="summary" style="text-align: center">
        <div class="width50">
          <div class="h1">Total Amount</div>

          <div>
            <span class="h7">Rs.</span>
            <span class="amount-size"
              ><%= data.reportDataTotals.totals.total_amount_ary['whole_number']
              %></span
            ><span class="decimal"
              >.<%=
              data.reportDataTotals.totals.total_amount_ary['decimal_number']
              %></span
            >
          </div>
        </div>

        <div class="width50">
          <div class="h1">Total Discount</div>
          <div>
            <span class="h7">Rs.</span>
            <span class="amount-size"
              ><%=
              data.reportDataTotals.totals.discount_amount_ary['whole_number']
              %></span
            ><span class="decimal"
              >.<%=
              data.reportDataTotals.totals.discount_amount_ary['decimal_number']
              %></span
            >
          </div>
        </div>

        <div class="width50">
          <div class="h1">Total Due</div>
          <div class="warn-fg">
            <span class="h7">Rs.</span>
            <span class="amount-size"
              ><%= data.reportDataTotals.totals.due_amount_ary['whole_number']
              %></span
            ><span class="decimal"
              >.<%=
              data.reportDataTotals.totals.due_amount_ary['decimal_number']
              %></span
            >
          </div>
        </div>

        <div class="width50">
          <div class="h1">Total Paid</div>
          <div>
            <span class="h7">Rs.</span>
            <span class="amount-size"
              ><%= data.reportDataTotals.totals.paid_amount_ary['whole_number']
              %></span
            ><span class="decimal"
              >.<%=
              data.reportDataTotals.totals.paid_amount_ary['decimal_number']
              %></span
            >
          </div>
        </div>
      </div>

      <!-- Header -->
      <div class="header-row">
        <div class="header-item c1">#</div>
        <div class="header-item c2">Lab #</div>
        <div class="header-item c3">Patient Name</div>
        <div class="header-item c4">info</div>
        <div class="header-item c6">Registration Date</div>
        <div class="header-item c7">Total</div>
        <div class="header-item c8">Discount</div>
        <div class="header-item c9">Due</div>
        <div class="header-item c10">Paid</div>

        <div style="clear: both"></div>
      </div>

      <div class="data-set">
        <% let counter = 0; %> <% for (let i = 0; i <
        data.reportDataTotals.dataset.length; i++) { %> <% let item =
        data.reportDataTotals.dataset[i]; %> <% let gender_full_form =
        item.gender; %> <% if (item.gender === 'm') { %> <% gender_full_form =
        'Male'; %> <% } else if (item.gender === 'f') { %> <% gender_full_form =
        'Female'; %> <% } %> <% counter++; %>
        <div class="row">
          <div class="row-item c1"><%= counter %></div>
          <div class="row-item c2"><%= item.lab_number %></div>
          <div class="row-item c3"><%= item.name %></div>
          <div class="row-item c4">
            <%= item.age %> <%= item.age_unit %> / <%= gender_full_form %>
          </div>
          <div class="row-item c6"><%= item.registration_date_formatted %></div>
          <div class="row-item c7"><%= item.total_amount %></div>
          <div class="row-item c8"><%= item.discount_amount %></div>
          <div class="row-item c9 <%= item.due_amount > 0 ? 'warn-fg' : '' %>">
            <%= item.due_amount %>
          </div>
          <div class="row-item c10"><%= item.paid_amount %></div>
          <div style="clear: both"></div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
